<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99104018643-tv5k3vtvjaif82r08fofn9frr8eldh8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99104018643-tv5k3vtvjaif82r08fofn9frr8eldh8a</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ELV9UZXoIF0amGhFZiqhdfSiapNFONk</string>
	<key>GCM_SENDER_ID</key>
	<string>99104018643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.titoLogin</string>
	<key>PROJECT_ID</key>
	<string>flutter101-tito</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter101-tito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99104018643:ios:585ccd324cdbc2d0ce8426</string>
</dict>
</plist>